/* Set the style to border-box */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Put in a dividing line between top row and results section as well as some padding on the bottom */

.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

/* Put in some padding at the top of the last row */

.row:last-child {
	padding-top: 15px;
}

/* Add a bit of margin on the left for buttons */

.buttonMargins {
	margin-right: 4px;
	margin-bottom: 4px;
}

/* Styling for a GIF package item */

.item {
	float:left;
	padding-right: 10px;
	padding-bottom: 15px;
}

/* Styling for the Submit button */

#addGIF, #removeGIF {
	margin-top: 10px;
}

/* Styling for the buttons to make them 3-D and have them animate when clicked */

.btn-success {
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:         2px 2px rgba(0, 0, 0, 0.3);
}

.btn-success:active {
    margin-top: 2px;
    margin-bottom: -2px;
}

/* Styling for the text box */

input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
	border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}