/* Set the style to border-box */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Put in a dividing line between top row and results section as well as some padding on the bottom */

.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

/* Put in some padding at the top of the last row */

.row:last-child {
	padding-top: 15px;
}

/* Add a bit of margin on the left for buttons */

.margin-left {
	margin-left: 4px;
}

/* Styling for a GIF package item */

.item {
	float:left;
	padding-right: 10px;
	padding-bottom: 15px;
}

/* Styling for the Submit button */

#addGIF {
	margin-top: 10px;
}

/* Styling for the buttons to make them 3-D and have them animate when clicked */

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:         2px 2px rgba(0, 0, 0, 0.3);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    margin-top: 2px;
    margin-bottom: -2px;
}